
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color:#ffffff;
}

.full {
  background: url(../img/bgn.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron h1{
	color:black;
}

/* unvisited link */
a:link {
    color: white;
	text-decoration: underline;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
	    text-decoration: none;
}

/* selected link */
a:active {
    color: grey;
}